@media screen and (max-width: 750px) {

    .logo-img{

      width: 180px;
      height: auto;
    }

    .page-cont-1 h3{

      font-size: 23px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      color: white;

    }

    .page-cont-2 h3{

      font-size: 23px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      color: white;

    }

    .page-content-01 p{

      font-size: 29px;
      color: white;
    }

    .menu{

      display: none;
    }

    .slider-title{

      font-size: 28px;
    }


    .page-cont-1 p{

      font-size: 12px;

    }


    .page-cont{

      padding: 19px;
    }


    .page-cont-1{

      margin: 10px;
    }

  }