@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body{

    background-color: blue;
}
/*General selector*/

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}


/* Page header css styles*/

.page-header-content{

    margin: 17px 0 17px 0;
}

.top-nav{
display: flex;
}

.header{

    display: flex;
}


.page-header{

    flex: 10;
    width: 100vw;
    position: relative;
}

.side-nav{

    flex: 2;
    padding: 41px 0;
    background-color: transparent;
    overflow:-moz-hidden-unscrollable;
    max-width: 104px;
    overflow: hidden;
    height: 550px;

}


.page-slider{

    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 610px;
    overflow: hidden;
    border-bottom-right-radius: 15%;
    background-color: rgb(33, 30, 252);

}
.slider{

    position: relative;
}
/* Menu css styles*/

.menu-list li {

    padding: 25px;
}

.menu{

    padding: 5px;
}

.menu-list{

    display: flex;
}

.menu-list a{

    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: white;
}


.menu-list a:hover{

    color: rgb(11, 238, 105);
}

.side-nav-menu-list{

    display: flex; 
    margin: 127px 0 0 0;; 
    padding: 8px; 
    flex-direction: column; 
}

.side-nav-menu-list li{

    margin: 0 0 15px 0;;
}


.side-nav-menu-list a {

    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

/*Logo image css styles*/

.logo{

    display: flex;
    flex: 8;
}

.logo-img{

    width: 244px;
    height: auto;
}

.logo-image{

    width: 80vw;
    height: 75vh;
    position: relative;
    top: 34px;
    animation: scaleimg ease-in-out 7s infinite;
}

/* Hambuger Css Styles*/


.hamburger{
    cursor: pointer;
    left: 30px;
    position: relative;
}

.hamburger-bar{

    background-color: white;
    padding: 1px 0;
    margin-top: 8px;
    width: 45px;
    height: 1px;
    transform: rotateY(360deg);
    position: relative;
    transition: 0.5s;
    
}

.hamburger.open .hamburger-bar:nth-child(1){

    transform: rotate(135deg);
    position: absolute;
    transition: 0.15s;
    top: 0;
}

.hamburger.open .hamburger-bar:nth-child(2){

    position: absolute;
    opacity:0;
    transition: 0.15s;

}


.hamburger.open .hamburger-bar:nth-child(3){

    transform: rotate(45deg);
    position: absolute;
    transition: 0.15s;
    top: 0;
}



/*Keyframes css styles*/

@keyframes scaleimg {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }

  @keyframes textent {

    0% {

        transform: scale(1);
    }

    50%{

        transform: scale(1.3);

    }

    100%{

        transform: scale(1);
    }
  }

  @keyframes textent1{

    0% {
        transform: translate(1);

    }

    100% {

        transform: translate(1.1);

    }
  }


  /* title-silder css styles*/

  .slider-title-1{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 136px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    animation: textent ease-in-out 7s infinite;
    top: 98px;
    left:19px;
    opacity: 0.08;
    z-index: -1;
  }

  .slider-title{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 52px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 279px;
    left:19px;
    color: white;
  }


  /*Social links css styles*/

  .social-links{

    display: flex;
    flex-direction: column;
    padding: 35px 0;
    text-align: center;

  }


  .social-links li{

    margin-top: 15px;
    color: white;
    font-size: 17px;
  }


  .page-content{

    margin:39px;
  }


  /**/

  .page-content-01{

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 43px;
    font-weight: bold;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 16px;

  }


  .page-content-01 p{

    text-align: center;
    margin: auto;
  }

  .page-cont{

    padding: 45px;
    display: flex;
    flex-wrap: wrap;
  }

  .page-cont-1 p{

    padding: 15px;
    color: white;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
  }

  .page-cont-1{

    flex: 2;
    margin: 25px;
  }

  .page-cont-1 h3{

    margin-top: 17px;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    margin-bottom: 17px;
  }

  .page-cont-2{

    flex: 2;
    margin: 25px;
  }


  .page-cont-2 p{

    padding: 15px;
    color: white;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 17px;
    margin-bottom: 17px;
  }


  .page-cont-2 h3{

    margin-top: 17px;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    margin-bottom: 17px;
  }